div.header {
  background-color: black;
  height: 70px;
}

h1 {
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  color: white;
  font-family: sans-serif;
}

div.card {
  margin-bottom: 10px;
  margin-top: 10px;
}

h5.card-title {
  text-align: center;
}

button.btn.btn-primary {
  margin-left: 50px;
}